@using CalendarApp.Infrastructure.Extentions
@using CalendarApp.Services.Notifications.Models
@{
    var controllerName = typeof(NotificationsController).GetControllerName();
    var listUrl = Url.Action(nameof(NotificationsController.Index), controllerName);
    var recentUrl = Url.Action(nameof(NotificationsController.Recent), controllerName);
    var markUrl = Url.Action(nameof(NotificationsController.MarkAsRead), controllerName);
}
<div id="notification-panel" class="notification-panel notification-panel--hidden" data-notification-panel data-recent-url="@recentUrl" data-mark-url="@markUrl" data-list-url="@listUrl">
    <div class="notification-panel__island">
        <div class="notification-panel__headline">
            <a class="notification-panel__headline-link" asp-controller="@controllerName" asp-action="@nameof(NotificationsController.Index)" aria-label="View notifications">
                <span class="notification-panel__title">Notifications</span>
                <span class="notification-panel__count badge bg-danger d-none" data-notification-count>0</span>
            </a>
            <button type="button" class="notification-panel__close" data-notification-close aria-label="Dismiss notifications">&times;</button>
        </div>
        <div class="notification-panel__body">
            <ul class="notification-preview-list" data-notification-items></ul>
            <div class="notification-panel__empty" data-notification-empty>You're all caught up!</div>
        </div>
        <div class="notification-panel__footer">
            <a class="notification-panel__view-all" asp-controller="@controllerName" asp-action="@nameof(NotificationsController.Index)">View all</a>
        </div>
    </div>
    <form id="notification-antiforgery-form" class="d-none" method="post" asp-controller="@controllerName" asp-action="@nameof(NotificationsController.MarkAsRead)">
        @Html.AntiForgeryToken()
    </form>
</div>
